img{
    height: 150px;
    width: 200px;
    padding: 20px;
    
}
h1{
    text-align: center;
}
.img1{
    transform: rotate(30deg);
}
.img2{
    transform: rotate(60deg);
}
.img3{
    transform: rotate(30deg);
}
.img4{
    transform: rotate(30deg);
}
.img5{
    transform: rotate(60deg);
}